In [11]:
# -*- coding: utf-8 -*
import twitter
import csv
import json
import re
import requests
import lxml.html as html
from urllib2 import urlopen
import pandas as pd
from datetime import datetime, timedelta
from dateutil import tz
import time
import sklearn.cross_validation as cv
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import numpy as np
import xml.etree.ElementTree as ET
%matplotlib inline

In [12]:
OUT_NEWS_FILE = "news.csv"
OUT_TWITTER_FILE = "twitter.csv"

In [13]:
class TJLoader:

    def __init__(self):
        self._news_pages = ["https://tjournal.ru/paper/page/{}"]#, "https://tjournal.ru/club/news/recent/page/{}"]
        self._month_map = {u"января":"01", u"февраля":"02", u"марта":"03", u"апреля":"04", u"мая":"05", u"июня":"06", u"июля":"07", u"августа":"08", u"сентября":"09", u"октября":"10", u"ноября":"11", u"декабря":"12"}

    def get_news_uri(self, min_index=10, count=30):
        """

        :param min_index: int, индекс страницы, с которой нужно начать поиск
        :param count: int, количество страниц, которые нужно скачать
        :return: list. список ссылок на новости
        """
        links = []
        for news_page in self._news_pages:
            
            for i in range(count):
                page = html.parse(urlopen(news_page.format(i+min_index)))
                divs = page.getroot().find_class('b-articles__b__title')

                for div in divs:
                    links.append(div.getchildren()[1].get("href"))
                    
        return links

    
    def _parse_date(self, date):
        date = date.replace(",", "")
        date = date.split(" ")
        
        converted_date = date[2]
        converted_date +="-"+self._month_map[date[1]]
        converted_date +="-"+date[0]
        
        converted_date +=" "+date[3]
        
        return converted_date
        

    def get_link_info(self, link):
        """

        :param link: str, url страницы с tjournal, для которой нужно собрать информацию
        :return: dict с данными со страницы
        """
        page = html.parse(urlopen(link))
        root = page.getroot()

        # заголовок
        title = root.find_class("b-article__title")
        title = title[0].find("h1").text

        # парсим количество просмотров
        view = root.get_element_by_id("hitsCount").text
        view = view.replace(" ", "")
        view = int(view)

        # Количество комментариев
        comments = root.find_class("b-article__infoline__comments")
        comment = int(comments[0].find("b").text.replace(" ", ""))

        # Теги
        tags = root.find_class("b-article__tags__tag")
        tag_list = []
        for tag in tags:
            tag_list.append(tag.text)
        
        # Дата
        date = root.find_class("b-article__infoline__date")
        date = self._parse_date(date[0].text)
        
        # Первоисточник
        source = root.find_class("b-article__link")
        if len(source) != 0:
            source = source[0].getchildren()[0].getchildren()[1].getchildren()[0].text
        else:
            source = None
        
        # Type
        if "tjournal.ru/c/" in link:
            news_type = "TJ_C"
        else:
            news_type = "TJ_P"
            
        return {
            "url": link, 
            "title": title, 
            "views": view, 
            "comments": comment, 
            "tags": tag_list, 
            "date": date, 
            "type": news_type, 
            "source": source}


    def get_tj_news_info(self, min_index=1, count=30, first_date="2017-01-01", last_date="2010-01-01"):
        """
        :param min_index: int, индекс минимальной страницы, откуда начинаем поиск
        :param count: int, количество страниц, по которым ищем
        :first_date: время первой новости, которую мы скачаем
        :last_date: время последней новости, которую мы скачаем
        :return: dict с данными со страницы
        """
        links = self.get_news_uri(min_index=min_index, count=count)
        link_info_list = []
        i = 0
        is_break = False
        for link in links:
            link_info = self.get_link_info(link)
            # Если заданное время не подходит
            if link_info["date"] > first_date or link_info["date"] < last_date:
                continue
    
            link_info_list.append(link_info)
            
            i+=1
            if i%10 == 0:
                print "Скачали ", i, " страниц"

        return link_info_list

In [19]:
class VCLoader:

    def __init__(self):
        self._news_pages = "https://api.vc.ru/1/paper"
        self._month_map = {u"января":"01", u"февраля":"02", u"марта":"03", u"апреля":"04", u"мая":"05", u"июня":"06", u"июля":"07", u"августа":"08", u"сентября":"09", u"октября":"10", u"ноября":"11", u"декабря":"12"}

    def get_news_uri(self, min_index=10, count=30):
        """

        :param min_index: int, индекс страницы, с которой нужно начать поиск
        :param count: int, количество страниц, которые нужно скачать
        :return: list. список ссылок на новости
        """
        links = []
        text = requests.get(self._news_pages).text
        json_req = json.loads(text)
    
        for news in json_req:
            links.append(news["url"])

        return links

    
    def _parse_date(self, date):
        date = date.replace(",", "")
        date = date.split(" ")
        
        converted_date = date[2]
        converted_date +="-"+self._month_map[date[1]]
        converted_date +="-"+date[0]
        
        converted_date +=" "+date[3]
        
        return converted_date
        

    def get_link_info(self, link):
        """

        :param link: str, url страницы с vc, для которой нужно собрать информацию
        :return: dict с данными со страницы
        """
        page = html.parse(urlopen(link))
        root = page.getroot()

        # заголовок
        title = root.find_class("b-article__head")
        title = title[0].find("h1").text

        # парсим количество просмотров
        view = root.get_element_by_id("hitsCount").text
        view = view.replace(" ", "")
        view = int(view)

        # Количество комментариев
        comments = root.find_class("ccount")[0].text
        comment = int(comments.replace(" ", ""))

        # Теги
        tags = root.find_class("b-tags__tag")
        tag_list = []
        for tag in tags:
            tag_list.append(tag.text)
        
        # Дата
        date = root.find_class("b-article__infopanel__date")
        date = self._parse_date(date[0].text)
        

        return {"title": title, "views": view, "comments": comment, "tags": tag_list, "date": date, "url": link, "type": "VC"}


    def get_tj_news_info(self, min_index=1, count=30, first_date="2010-01-01", last_date="2017-01-01"):
        """
        :param min_index: int, индекс минимальной страницы, откуда начинаем поиск
        :param count: int, количество страниц, по которым ищем
        :first_date: str, дата и время первой (самой новой) новости
        :last_date: str, дата и время последней(самой старой) новости
        
        :return: dict с данными со страницы
        """
        links = self.get_news_uri(min_index=min_index, count=count)
        link_info_list = []
        i = 0
        
        for link in links:
            
            link_info = self.get_link_info(link)
            # Если заданное время не подходит
            if link_info["date"] > first_date or link_info["date"] < last_date:
                continue
            
            link_info_list.append(link_info)
            
            i+=1
            if i%10 == 0:
                print "Скачали ", i, " страниц"

        return link_info_list

In [3]:
class RSSLoader:
    
    def __init__(self):
        #self._pages = ["https://roem.ru/rss/roem-all-news.xml", "http://lifenews.ru/xml/feed.xml", "http://www.forbes.ru/newrss.xml", "http://rg.ru/xml/index.xml", "http://www.vesti.ru/vesti.rss", "http://lenta.ru/rss", "http://ria.ru/export/rss2/index.xml"]
        self._pages = ["https://roem.ru/rss/roem-all-news.xml", "http://lifenews.ru/xml/feed.xml", "http://www.forbes.ru/newrss.xml", "http://www.vesti.ru/vesti.rss", "http://lenta.ru/rss", "http://ria.ru/export/rss2/index.xml", "https://navalny.com/blog/post.rss", "https://slon.ru/export/all.xml", "https://meduza.io/rss/all", "http://www.vedomosti.ru/rss/news"]
        self._month_dict = {"Jan":"1", "Feb":"2", "Mar":"3", "Apr":"4", "May":"5", "Jun":"6", "Jul":"7", "Aug":"8", "Sep":"9", "Oct":"10", "Nov":"11", "Dec":"12"}
        
        self._UTC_TIME_ZONE = tz.gettz('Europe/London')
        self._MOSCOW_TIME_ZONE = tz.gettz('Europe/Moscow')
        self._RATE_LIMIT = "[{u'message': u'Rate limit exceeded', u'code': 88}]"
        
        
    def _parse_date(self, date):

        """

        :param date: str, дата в формате - "Fri, 04 Dec 2015 14:45:39 +0000"
        :return: str, дата в человеческом, но буржуйском формате, да еще и в Московском часовом поясе
        """
        timezone = date.split("+")[1]
        date = date.replace(",", "")
        date_array = date.split(' ')
        
        time = date_array[4]
        day = int(date_array[1])
        month = self._month_dict[date_array[2]]
        year = date_array[3]

        date = str(year)+"-"+str(month)+"-"+str(day)+" "+time
        date = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
        
        if (timezone != "0300"):
            utc_date = date.replace(tzinfo=self._UTC_TIME_ZONE)
            date = utc_date.astimezone(self._MOSCOW_TIME_ZONE)

        # Обрезаем зону
        date = str(date).split("+")[0]
        
        # Обрезаем секунды
        splited = date.split(":")
        date = splited[0]+":"+splited[1]
        return date
    
    
    def _get_type(self, url):
        url = url.replace("www.", "")
        url = url.split("://")[1]
        url = url.split("/")[0]
        return url
    
    def _handle_data(self, url, link, title, date):
        
        # Убрать лишние пробелы
        title = re.sub(' +',' ', title)
        
        if url=="https://slon.ru/export/all.xml":
            link = link.split("?")[0]
            title = title.replace("\n", "")
            
        # Приведение даты к общему формату и временной зоне
        date = self._parse_date(date)
        
        return link, title, date
        
        
    
    def _get_hours_until_now(self, date):
        news_date = datetime.strptime(date, '%Y-%m-%d %H:%M')
        now = datetime.today()
        return float((now-news_date).total_seconds()/3600)
        
    def get_news_array(self, hour=5):
        """
        hour: int, время последней новости
        """
        news_array = []
        for url in self._pages:
            news_type = self._get_type(url)
            print url
            
            tree = ET.ElementTree(file=urlopen(url))
            root = tree.getroot()
            for i in root.iter('item'):

                link = i.find('link').text
                title = i.find('title').text
                date = i.find('pubDate').text
                
                link, title, date = self._handle_data(url, link, title, date)
                news_info =  {
                    "title": title,
                    "date": date, 
                    "url": link, 
                    "type": news_type
                }
                
                if self._get_hours_until_now(date) >= hour:
                    news_array.append(news_info)
                
            
        print "Собрано ", len(news_array), " новостей с RSS"
        return news_array

In [4]:
class TwitterLoader:


    def __init__(self):
        CONSUMER_KEY = 'BOuuaMDhNhm6yx0rzqK8bMsbI'
        CONSUMER_SECRET = '3DybJwlkXd2vU6R385yLA8yJblYJltLtwojySD9AVs04ShauZ0'

        ACCESS_TOKEN_KEY = '3712177576-of3jzZ8gNmlPDfPjPyR0Ljw1Ao2IXdTqX9dZGDZ'
        ACCESS_TOKEN_SECRET = 'Ky7iKwByHNXX3UMfuMhv6UgVx2IhjLo3KmwpsBQz35wtG'

        self.api = twitter.Api(consumer_key=CONSUMER_KEY,
                  consumer_secret=CONSUMER_SECRET,
                  access_token_key=ACCESS_TOKEN_KEY,
                  access_token_secret=ACCESS_TOKEN_SECRET)
        self._month_dict = {"Jan":"1", "Feb":"2", "Mar":"3", "Apr":"4", "May":"5", "Jun":"6", "Jul":"7", "Aug":"8", "Sep":"9", "Oct":"10", "Nov":"11", "Dec":"12"}

        self._UTC_TIME_ZONE = tz.gettz('Europe/London')
        self._MOSCOW_TIME_ZONE = tz.gettz('Europe/Moscow')
        self._RATE_LIMIT = "[{u'message': u'Rate limit exceeded', u'code': 88}]"



    def _parse_date(self, date):

        """

        :param date: str, дата в формате твиттера - "Sat Nov 21 17:00:29 +0000 2015"
        :return: str, дата в человеческом, но буржуйском формате, да еще и в Московском часовом поясе
        """
        date_array = date.split(' ')
        month = self._month_dict[date_array[1]]
        day = int(date_array[2])
        time = date_array[3]
        year = date_array[5]

        date = str(year)+"-"+str(month)+"-"+str(day)+" "+time
        date = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
        utc_date = date.replace(tzinfo=self._UTC_TIME_ZONE)
        moscow_date = utc_date.astimezone(self._MOSCOW_TIME_ZONE)

        return str(moscow_date).split("+")[0]



    def loadTweetWithLink(self, link, date):
        """

        :param link: str, ключевое слово для поиска, вданном случае - ссылка на письмо
        :param date: str, дата, до которой искать твиты
        :return: список словариков с информацией о УНИКАЛЬНЫХ твитах по запросу link
        """
        set_id = set()
        tweet_list = []
        result = self.api.GetSearch(term=link, until=date, count=100000)

        for res in result:

            tw_id = res.GetId()
            # Если мы уже обрабатывали этот твит - идем дальше
            if tw_id in set_id:
                continue

            retweeted_status = res.GetRetweeted_status()
            # Если это не ретвит
            if retweeted_status is None:
                is_retweet = 0
                retweeted_count = res.GetRetweetCount()
                favorite_count = res.GetFavoriteCount()
            else:
                is_retweet = 1
                retweeted_count = 0
                favorite_count = 0
            set_id.add(tw_id)

            created_at = res.GetCreatedAt()
            created_at = self._parse_date(created_at)

            # Данные о пользователе
            user = res.GetUser()
            followers_count = user.followers_count
            listed_count = user.listed_count
            friends_count = user.friends_count
            favourites_count = user.favourites_count
            statuses_count = user.statuses_count


            tw_dict= {
                    "url": link,
                    "tw_id":tw_id,
                    "retweeted_count": retweeted_count,
                    "favorite_count":favorite_count,
                    "is_retweet": is_retweet,
                    "created_at":created_at,
                    "user_followers_count":followers_count,
                    "user_listed_count": listed_count,
                    "user_friends_count":friends_count,
                    "user_favourites_count":favourites_count,
                    "user_statuses_count":statuses_count
                    }

            tweet_list.append(tw_dict)

        return tweet_list

    def _get_next_date(self, date, days):
        """

        :param date: str, дата
        :param days: int, количество дней
        :return: возвращает дату через days-дней после date
        """
        date = datetime.strptime(date, '%Y-%m-%d %H:%M')
        date += timedelta(days=days)
        return str(date).split(' ')[0]


    def load_tweets_by_term(self, news_list, days_after_news=2):
        """

        :param news_list: list(str), список словариков с информацией о новости
        :param days_after_news:  int, количество дней после публикации новости, до которой искать
        """
        result_list = []
        i = 0
        for news in news_list:
            tweets = []
            try:
                until_date = self._get_next_date(news["date"], days_after_news)
                tweets = self.loadTweetWithLink(news["url"], until_date)
            except twitter.error.TwitterError as ex:
                print str(ex)
                if str(ex) == self._RATE_LIMIT:
                    sleep_time = self.api.GetSleepTime("search/tweets") #??? Почему-то не работает
                    print "Спим {} сек.".format(sleep_time)
                    time.sleep(sleep_time+2)
                    tweets = self.loadTweetWithLink(news["url"], until_date)

            result_list+= tweets
            
            i+=1
            if i%10 == 0:
                print "Собрано информация о", i, " новостях"
            
        return result_list

### Подготавливаем  данные для анализа

In [6]:
news_info = pd.read_csv(OUT_NEWS_FILE, sep=",")
tweeter_data = pd.read_csv(OUT_TWITTER_FILE, sep=",")

NameError: name 'pd' is not defined

In [5]:
news_info.head(10)

NameError: name 'news_info' is not defined

In [179]:
# !!!!   !!!!!!!!!! !!!!!!!!!!1 !!!!!!!!!!!!
# Сначала почищу данные. Там, где не материалы редакции - мусор, на который твитов то почти и нет!
news_info = news_info[ (news_info['type'] != "TJ_C")]
len(news_info["url"].unique())

721

In [180]:
# Мерджим дата фреймы
df = news_info.merge(tweeter_data, on='url', left_index=True, right_index=False)

In [181]:
df.head(1)

,comments,date,source,tags,title,type,url,views,created_at,favorite_count,is_retweet,retweeted_count,tw_id,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_statuses_count
0,51,2015-12-05 18:45,NaN,"[подписка, мобильные приложения, урбанизация, ...",Мнение: Приложения и интернет-сервисы убивают ...,VC,https://vc.ru/p/app-around-corner,6412,2015-12-06 12:01:57,0,1,0,673427142642921472,8450,469,153,23,75097

In [182]:
def diff_date_minutes(news_date, tweet_date):
    news_date = datetime.strptime(news_date, '%Y-%m-%d %H:%M')
    tweet_date = datetime.strptime(tweet_date, '%Y-%m-%d %H:%M:%S')
    return int((tweet_date-news_date).total_seconds()/60)

In [183]:
# количество минут, с момента публикации записи, данного твита
df["time_since_news"] = df.apply(lambda s: diff_date_minutes(s["date"], s["created_at"]), axis=1)

In [184]:
def get_week_day(date):
    date = datetime.strptime(date, '%Y-%m-%d %H:%M')
    return date.weekday()

In [185]:
# индекс дня недели
df["week_day_news"] = df.date.apply(lambda s: get_week_day(s))

In [186]:
def get_minutes_since_midnight(date):
    midnight = date.split(" ")[0] + " 00:00"
    date = datetime.strptime(date, '%Y-%m-%d %H:%M')
    midnight = datetime.strptime(midnight, '%Y-%m-%d %H:%M')
    return int((date-midnight).total_seconds()/60)

In [187]:
# Сколько минут времени прошло с полуночи
df["minutes_since_midnight"] = df.date.apply(lambda s: get_minutes_since_midnight(s))

### Агрегируем данные из твиттера

In [188]:
# Время для вычисления независимых переменных
FIRST_TIME = 10
# Время для вычисления целевой функции
LAST_TIME = 180

In [189]:
len(df["url"].unique())

691

In [190]:
ft_df = df[df["time_since_news"] <= FIRST_TIME]

In [191]:
grouped = ft_df.groupby("url")

In [192]:
# Считаем общее количество твиттов
count_of_tweets = pd.DataFrame(grouped["url"].count())
count_of_tweets.columns = ["first_time_tweet"]
count_of_tweets.reset_index(inplace=True)  
df = pd.merge(df, count_of_tweets, on='url', left_index=True, right_index=False, how="outer")

In [193]:
# Считаем общую аудиторию
follower_sum = pd.DataFrame(grouped["user_followers_count"].sum())
follower_sum.columns = ["follower_sum"]
follower_sum.reset_index(inplace=True)  
df = pd.merge(df, follower_sum, on='url', left_index=True, right_index=False, how="outer")

In [194]:
# Считаем число ретвитов
retweeted_count_sum = pd.DataFrame(grouped["retweeted_count"].sum())
retweeted_count_sum.columns = ["retweeted_count_sum"]
retweeted_count_sum.reset_index(inplace=True)  
df = pd.merge(df, retweeted_count_sum, on='url', left_index=True, right_index=False, how="outer")

In [195]:
# Считаем число звездочек
favorite_count_sum = pd.DataFrame(grouped["favorite_count"].sum())
favorite_count_sum.columns = ["favorite_count_sum"]
favorite_count_sum.reset_index(inplace=True)  
df = pd.merge(df, favorite_count_sum, on='url', left_index=True, right_index=False, how="outer")

In [196]:
# Считаем общее число списков, в которых состоят сделавшие посты
user_listed_count = pd.DataFrame(grouped["user_listed_count"].sum())
user_listed_count.columns = ["user_listed_count_sum"]
user_listed_count.reset_index(inplace=True)  
df = pd.merge(df, user_listed_count, on='url', left_index=True, right_index=False, how="outer")

In [197]:
st_df = df[df["time_since_news"] <= LAST_TIME]

In [198]:
# Выделяем значение целевой функции
grouped = st_df.groupby("url")
count_of_tweets = pd.DataFrame(grouped["url"].count())
count_of_tweets.columns = ["last_time_tweet"]
count_of_tweets.reset_index(inplace=True)  
df = pd.merge(df, count_of_tweets, on='url', left_index=True, right_index=False, how="outer")

In [199]:
# Бинаризируем категориальный признак type
df.reset_index(inplace=True)
dummy = pd.get_dummies(df['type'])
df = df.join(dummy)

In [200]:
PREPARED_CSV = "prepared_to_analys.csv"

In [201]:
# Сохраняемся
df.to_csv(PREPARED_CSV, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

In [213]:
df[['is_retweet', 'retweeted_count', 'tw_id', 'user_favourites_count',
       'user_followers_count', 'user_friends_count', 'user_listed_count',
       'user_statuses_count', 'time_since_news', 'week_day_news',
       'minutes_since_midnight', 'first_time_tweet', 'follower_sum',
       'retweeted_count_sum', 'favorite_count_sum', 'user_listed_count_sum']]

,is_retweet,retweeted_count,tw_id,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_statuses_count,time_since_news,week_day_news,minutes_since_midnight,first_time_tweet,follower_sum,retweeted_count_sum,favorite_count_sum,user_listed_count_sum
0,1,0,673427142642921472,8450,469,153,23,75097,1036,5,1125,NaN,NaN,NaN,NaN,NaN
1,0,0,673246386809384960,0,1407,37,2703,207559,318,5,1125,NaN,NaN,NaN,NaN,NaN
2,1,0,673246313157382144,915,1060,579,26,103048,318,5,1125,NaN,NaN,NaN,NaN,NaN
3,0,0,673245580907454467,0,0,37,0,2,315,5,1125,NaN,NaN,NaN,NaN,NaN
4,1,0,673242907776712704,754,115,63,3,16043,304,5,1125,NaN,NaN,NaN,NaN,NaN
5,0,0,673230895537651712,312,79,32,2,1928,257,5,1125,NaN,NaN,NaN,NaN,NaN
6,1,0,673202932905598976,1220,120,256,12,5718,146,5,1125,NaN,NaN,NaN,NaN,NaN
7,0,0,673200958118240257,5740,129,62,18,5519,138,5,1125,NaN,NaN,NaN,NaN,NaN
8,1,0,673193811242303488,5,287,111,7,21369,109,5,1125,NaN,NaN,NaN,NaN,NaN
9,0,1,673190467165667329,38,488,228,11,21543,96,5,1125,NaN,NaN,NaN,NaN,NaN
10,1,0,673186220508356612,668,385,1161,2,4047,79,5,1125,NaN,NaN,NaN,NaN,NaN
11,1,0,673184614370967552,173,497,2016,8,7837,73,5,1125,NaN,NaN,NaN,NaN,NaN
12,1,0,673184592770310146,436,29,55,2,613,73,5,1125,NaN,NaN,NaN,NaN,NaN
13,1,0,673184401862299648,199,94,322,1,1623,72,5,1125,NaN,NaN,NaN,NaN,NaN
14,0,8,673184294345555968,139,251526,676,1167,40175,71,5,1125,NaN,NaN,NaN,NaN,NaN
15,1,0,673183103012216832,632,386,666,15,32318,67,5,1125,NaN,NaN,NaN,NaN,NaN
16,0,7,673181436841607168,10,60935,7,678,15544,60,5,1125,NaN,NaN,NaN,NaN,NaN
17,0,0,673178923920920576,30,174,440,9,3932,50,5,1125,NaN,NaN,NaN,NaN,NaN
18,0,0,673279314100662272,1332,86,168,0,7878,604,5,970,NaN,NaN,NaN,NaN,NaN
19,0,2,673133329672196096,10,60935,7,678,15544,24,5,970,NaN,NaN,NaN,NaN,NaN
20,0,0,673132350771871747,0,162,144,2,626,20,5,970,NaN,NaN,NaN,NaN,NaN
21,0,0,673160617210060800,0,0,8,1,8924,245,5,857,NaN,NaN,NaN,NaN,NaN
22,1,0,673103746675695616,105,609,40,6,5081,19,5,857,NaN,NaN,NaN,NaN,NaN
23,0,2,673103507147382784,10,60935,7,678,15544,18,5,857,NaN,NaN,NaN,NaN,NaN
24,1,0,673436891648237572,72,65,95,11,17361,1413,5,787,NaN,NaN,NaN,NaN,NaN
25,1,0,673229645467267073,29,16,34,0,321,590,5,787,NaN,NaN,NaN,NaN,NaN
26,0,1,673198692749414400,39,317,60,3,604,467,5,787,NaN,NaN,NaN,NaN,NaN
27,0,0,673159209131884544,16,25,117,1,56,310,5,787,NaN,NaN,NaN,NaN,NaN
28,0,3,673148004690493440,10,60935,7,678,15544,265,5,787,NaN,NaN,NaN,NaN,NaN
29,0,0,673277748492771328,2299,120,425,0,2092,1725,4,1283,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22829,1,0,666547346117959681,41,39,279,1,239,14,1,730,6,299235,24,35,1607
22830,0,0,666547188059738112,0,570,21,123,671315,13,1,730,6,299235,24,35,1607
22831,0,0,666547127561121792,122,286,300,8,18796,13,1,730,6,299235,24,35,1607
22832,1,0,666546638211710976,932,159,137,5,16545,11,1,730,6,299235,24,35,1607
22833,1,0,666546341653274624,85,168,186,0,2273,10,1,730,6,299235,24,35,1607
22834,1,0,666546317137739776,14,22806,82,411,93934,10,1,730,6,299235,24,35,1607
22835,0,0,666545171752861696,9,24726,27,5,4049,5,1,730,6,299235,24,35,1607
22836,1,0,666545086893793281,898,149,537,1,1894,5,1,730,6,299235,24,35,1607
22837,1,0,666544357999292416,866,7045,3678,31,47389,2,1,730,6,299235,24,35,1607
22838,1,0,667027048544739328,113,2,26,0,144,1979,1,671,1,24726,0,0,5
22839,0,0,666974209415974919,895,1076,230,12,14759,1769,1,671,1,24726,0,0,5
22840,1,0,666757426637611008,678,203,335,1,1601,907,1,671,1,24726,0,0,5
22841,1,0,666730314438483969,4811,24,88,6,3614,800,1,671,1,24726,0,0,5
22842,1,0,666729794164424704,2850,406,502,17,49030,798,1,671,1,24726,0,0,5
22843,1,0,666725298386419718,430,55,84,4,4766,780,1,671,1,24726,0,0,5
22844,1,0,666709410543194116,65,207,395,7,8990,717,1,671,1,24726,0,0,5
22845,1,0,666700641872584709,1950,92,36,19,17052,682,1,671,1,24726,0,0,5
22846,1,0,666697005960400896,2755,298,223,7,11440,667,1,671,1,24726,0,0,5
22847,1,0,666696785981775872,2655,152,157,3,9894,666,1,671,1,24726,0,0,5
22848,1,0,666693796512571392,298,151,453,2,7793,655,1,671,1,24726,0,0,5
22849,1,0,666693160727367682,4748,74,64,1,5528,652,1,671,1,24726,0,0,5
22850,0,13,666693002644070405,135,244341,675,1159,39891,651,1,671,1,24726,0,0,5
22851,0,0,666688488276926469,46,107,442,1,5029,633,1,671,1,24726,0,0,5
22852,0,0,666539197314891776,235,21741,11872,1092,28001,40,1,671,1,24726,0,0,5
22853,0,0,666539195196792832,107,13843,6262,769,25586,40,1,671,1,24726,0,0,5
22854,0,0,666539193464524801,208,21214,3239,1296,34151,40,1,671,1,24726,0,0,5
22855,0,0,666539190901829632,489,24221,5245,1043,26709,40,1,671,1,24726,0,0,5
22856,0,0,666539188603326464,156,25264,19001,1194,61940,40,1,671,1,24726,0,0,5
22857,0,0,666539186313232384,3,322,24,16,186466,40,1,671,1,24726,0,0,5
22858,0,0,666529497684926464,9,24726,27,5,4049,2,1,671,1,24726,0,0,5

22859

In [209]:
sum(df["favorite_count_sum"].isnull())

5032

# После первого запуска, через несколько дней, запускать только часть, которая находится под этим заголовком!

In [17]:
HOURS = 8 # Количество часов от текущего момента. Текущее время - Hours часов - время последней собранной новости

In [18]:
def get_hours_ago(hours=3):
    d = datetime.now() - timedelta(hours=hours)
    d = str(d).split(":")
    d = d[0]+":"+d[1]
    return d


def load_new_news(news_df, hours=3):
    # Вычисляем самую молодую новость
    tj_last_date = (news_df[news_df["type"]=="TJ_P"]["date"]).max()
    #tj_c_last_date = (news_df[news_df["type"]=="TJ_C"]["date"]).max()
    
    #tj_last_date = max(tj_p_last_date, tj_c_last_date)
    vc_last_date = (news_df[news_df["type"]=="VC"]["date"]).max()
    first_date = get_hours_ago(hours)
    
    
    print "Качаем новости с ", tj_last_date," и ", vc_last_date, " по ", first_date
    
    tj_loader = TJLoader()
    tj_pages = tj_loader.get_tj_news_info(min_index=0, count=4, first_date=first_date, last_date=tj_last_date)    
    
    vc_loader = VCLoader()
    vc_pages = vc_loader.get_tj_news_info(first_date=first_date, last_date=vc_last_date)
    
    pages = vc_pages + tj_pages
    pages
    
    return pages

# Загружаем данные
news_prev_df = pd.read_csv(OUT_NEWS_FILE, sep=",")
twitter_prev_df = pd.read_csv(OUT_TWITTER_FILE, sep=",")

# Качаем новости с VC и TJ
pages = load_new_news(news_prev_df, HOURS)
# Качаем новости RSS
rss_loader = RSSLoader()
rss_pages = rss_loader.get_news_array()
# Объединяем
pages += rss_pages

tw = TwitterLoader()
tweets = tw.load_tweets_by_term(pages)

# Объединяем новости с предыдущими
news = pd.DataFrame(pages)
news = (news.append(news_prev_df)).reset_index(drop=True)

# Объединяем твиты с предыдущими
tweets_df = pd.DataFrame(tweets)
tweets_df = (tweets_df.append(twitter_prev_df)).reset_index(drop=True)

# Сохраняем
tweets_df.to_csv(OUT_TWITTER_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)
news.to_csv(OUT_NEWS_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

Качаем новости с  2015-12-04 22:20  и  2015-12-04 21:23  по  2015-12-06 06:13
Скачали  10  страниц
https://roem.ru/rss/roem-all-news.xml
http://lifenews.ru/xml/feed.xml
http://www.forbes.ru/newrss.xml
http://www.vesti.ru/vesti.rss
http://lenta.ru/rss
http://ria.ru/export/rss2/index.xml
Собрано  394  новостей с RSS
Собрано информация о 10  новостях
Собрано информация о 20  новостях
Собрано информация о 30  новостях
Собрано информация о 40  новостях
Собрано информация о 50  новостях
Собрано информация о 60  новостях
Собрано информация о 70  новостях
Собрано информация о 80  новостях
Собрано информация о 90  новостях
Собрано информация о 100  новостях
Собрано информация о 110  новостях
Собрано информация о 120  новостях
Собрано информация о 130  новостях
Собрано информация о 140  новостях
Собрано информация о 150  новостях
Собрано информация о 160  новостях
Собрано информация о 170  новостях
Собрано информация о 180  новостях
[{u'message': u'Rate limit exceeded', u'code': 88}]
Спим 724 сек.
Собрано информация о 190  новостях
Собрано информация о 200  новостях
Собрано информация о 210  новостях
Собрано информация о 220  новостях
Собрано информация о 230  новостях
Собрано информация о 240  новостях
Собрано информация о 250  новостях
Собрано информация о 260  новостях
Собрано информация о 270  новостях
Собрано информация о 280  новостях
Собрано информация о 290  новостях
Собрано информация о 300  новостях
Собрано информация о 310  новостях
Собрано информация о 320  новостях
Собрано информация о 330  новостях
Собрано информация о 340  новостях
Собрано информация о 350  новостях
Собрано информация о 360  новостях
[{u'message': u'Rate limit exceeded', u'code': 88}]
Спим 696 сек.
Собрано информация о 370  новостях
Собрано информация о 380  новостях
Собрано информация о 390  новостях
Собрано информация о 400  новостях

# УДАЛЯЕМ ПОВТОРЫ =(((

In [38]:
# Сначала для твиттера
tw_data = pd.read_csv(OUT_TWITTER_FILE, sep=",")
last_size = len(tw_data)
dupl = tw_data["tw_id"].duplicated()
dupl = np.invert((dupl.as_matrix()))
tw_data = tw_data[dupl]
print "Удалено ", last_size-len(tw_data)

Удалено  384

In [39]:
# Сохраняем!
tw_data.to_csv(OUT_TWITTER_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

In [40]:
# Теперь для новостей
news_df = pd.read_csv(OUT_NEWS_FILE, sep=",")
last_size = len(news_df)
dupl = news_df["url"].duplicated()
dupl = np.invert((dupl.as_matrix()))
news_df = news_df[dupl]
print "Удалено ", last_size-len(news_df)

Удалено  8

In [41]:
# Сохраняем
news_df.to_csv(OUT_NEWS_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

# ======================================

In [76]:
df["type"].unique()

array(['VC', 'TJ_P'], dtype=object)

# Здесь уже нет ничего хорошего. Уходи

In [214]:
tw_data = pd.read_csv(OUT_TWITTER_FILE, sep=",")

In [216]:
tw_data[tw_data["url"] == "https://tjournal.ru/p/truckers-riot-moscow-3-december"]

,created_at,favorite_count,is_retweet,retweeted_count,tw_id,url,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_statuses_count
17042,2015-12-04 07:59:00,0,0,0,672641229721612288,https://tjournal.ru/p/truckers-riot-moscow-3-d...,13,252,103,3,3475
17043,2015-12-03 21:45:45,0,0,0,672486900440178688,https://tjournal.ru/p/truckers-riot-moscow-3-d...,107,625,127,39,12076
17044,2015-12-03 19:43:13,0,0,0,672456061534605312,https://tjournal.ru/p/truckers-riot-moscow-3-d...,1,6282,5794,44,77719
17045,2015-12-03 19:38:30,0,1,0,672454873347002368,https://tjournal.ru/p/truckers-riot-moscow-3-d...,41302,449,128,10,34859
17046,2015-12-03 19:29:21,0,1,0,672452573102604288,https://tjournal.ru/p/truckers-riot-moscow-3-d...,20,37,116,0,539
17047,2015-12-03 19:28:58,0,0,1,672452476939796481,https://tjournal.ru/p/truckers-riot-moscow-3-d...,489,24190,5245,1044,27974
17048,2015-12-03 19:28:57,0,0,0,672452473672503296,https://tjournal.ru/p/truckers-riot-moscow-3-d...,156,25319,18993,1193,62443
17049,2015-12-03 19:28:57,0,0,0,672452470895853568,https://tjournal.ru/p/truckers-riot-moscow-3-d...,3,327,23,16,186734
17050,2015-12-03 19:26:45,0,1,0,672451917113597953,https://tjournal.ru/p/truckers-riot-moscow-3-d...,2141,95,32,21,17868
17051,2015-12-03 19:26:06,0,1,0,672451754437513216,https://tjournal.ru/p/truckers-riot-moscow-3-d...,5898,1266,574,9,56029
17052,2015-12-03 19:25:53,0,1,0,672451699773165568,https://tjournal.ru/p/truckers-riot-moscow-3-d...,335,123,173,3,28529
17053,2015-12-03 19:24:42,11,0,5,672451402413641728,https://tjournal.ru/p/truckers-riot-moscow-3-d...,139,250953,676,1166,40161

In [ ]:
news = news.append(news_df)

In [ ]:
# читаем данные
news_df = pd.read_csv(OUT_NEWS_FILE, sep=",")
twitter_df = pd.read_csv(OUT_TWITTER_FILE, sep=",")

In [ ]:
# находим самую "молодую новость"
news_df = news_df.sort_values(by=["date"], ascending=False)
tj_last_date = (news_df[news_df["type"]=="TJ_P"]["date"]).max()
vc_last_date = (news_df[news_df["type"]=="VC"]["date"]).max()

In [ ]:
vc_last_date

In [ ]:
def get_tj_news_info(self, min_index=1, count=30, first_date="2015-11-25 12:58", last_date="2015-11-29 12:58"):

In [ ]:
# скачивае информацию о новостях
loader = TJLoader()
pages = loader.get_tj_news_info(min_index=0, count=30, first_date="2015-11-25 12:58", last_date="2015-11-29 12:58")

In [ ]:
len(pages)

In [ ]:
# Сохраняем в файлик
news_df = news_df.append(pd.DataFrame(pages))
news_df.to_csv(OUT_NEWS_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
# Скачиваем данные из твиттера
tw = TwitterLoader()
tweeter_data = tw.load_tweets_by_term(pages)

In [ ]:
len(tweeter_data)

In [ ]:
# Сохраняем в файлик
twitter_df = twitter_df.append(pd.DataFrame(tweeter_data))
twitter_df.to_csv(OUT_TWITTER_FILE, sep=",", index=False, encoding="utf-8", quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
date = datetime.now()

In [ ]:
d = datetime.now() - timedelta(hours=2)

In [ ]:
d = str(d).split('.')[0]

In [ ]:
import json

In [ ]:
text = requests.get("https://api.vc.ru/1/paper").text

In [ ]:
json_req = json.loads(text)

In [ ]:
page = html.parse(urlopen("https://vc.ru/p/interview-it"))
root = page.getroot()
print root

In [ ]:
page = html.parse(urlopen("https://vc.ru/n/microsoft-store-russia"))
root = page.getroot()

# заголовок
title = root.find_class("b-article__head")
title = title[0].find("h1").text
print title

# парсим количество просмотров
view = root.get_element_by_id("hitsCount").text
view = view.replace(" ", "")
view = int(view)
print view

# Количество комментариев
comments = root.find_class("ccount")[0].text
comment = int(comments.replace(" ", ""))
print comment

tags = root.find_class("b-tags__tag")
tag_list = []
for tag in tags:
    tag_list.append(tag.text)
    
print tag_list

In [ ]:
print title

In [ ]:
vc = VCLoader()

In [ ]:
vc.get_link_info("https://vc.ru/n/microsoft-store-russia")

In [ ]:
vc_dict = vc.get_tj_news_info()

Вопросы:

1) Что делать с соурсе? Эти новости никто не репостит с TJournal, а от других источников их можно найти

2) Урлы для других запросов на VC. Не хотелось бы их брудфорсить.